<div class="conatiner">
    <div class="row">
        <div class="col-4 list">
            <div>
                <ul>
                    <li class="card" *ngFor="let list of list">
                        <div>
                            <div>
                                <img class="listImg" src="{{list.image}}" />
                            </div>
                            <div class="title">
                                {{list.title}}
                            </div>
                            <div class="content">
                                {{list.content}}
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-8">
            <div class="imgCls">
                <img class="boostimg" src="../../assets/images/Boostyourbusiness.svg" />
            </div>
            <div class="lineCls">
                <img src="../../assets/images/Line.svg" />
            </div>
            <div class="getCls">
                <img class="getImg" src="../../assets/images/Getyourhandsona.svg" />
            </div>
            <div class="btnClss">
                <button class="btn">Get an Open Account</button>
            </div>
        </div>
    </div>
</div>